#login-panel-container{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 1000;
}

#login-panel-container-wrapper{
  width: 680px;
  height: 360px;
  margin: 8% auto;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.login-panel-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;

  &.country-selector-wrapper{
    left: 100%;
  }
}

.country-selector-show{
  animation-name: country-show;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes country-show {
  0%{
    left: 100%;
  }

  100%{
    left: 0;
  }
}

.country-selector-hide{
  animation-name: country-hide;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes country-hide {
  0%{
    left: 0;
  }

  100%{
    left: 100%;
  }
}

.login-panel-show{
  animation-name: show;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
}

@keyframes show {
  0% {
    margin-top: 100%;
  }

  70%{
    margin-top: 3%;
  }

  100%{
    margin-top: 8%;
  }
}

.login-panel-hide{
  animation-name: hide;
  animation-duration: 0.6s;
}

@keyframes hide {
  0% {
    margin-top: 8%;
  }

  100%{
    margin-top: 80%;
  }
}

.login-panel-wrapper-header{
  height: 60px;
}

.login-close-btn{
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 100;
}

.login-panel-content{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  background-color: rgb(244, 243, 243);
}

.country-selector-content{
  overflow: scroll;
  width: 100%;
  height: 300px;

  div.country-list-item{
    width: 100%;
    height: 60px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover{
      background-color: rgb(251, 113, 154);
      color: #fff;
    }

    &:not(:last-child){
      border-bottom: 1px solid rgb(238, 238, 238);
    }
  }
}

.getCaptcha{
  width: 64px;
  text-align: right;
}


.login-panel-content-wrapper{
  width: 50%;
  height: auto;

  .login-panel-input-filed{
    margin: 20px 0;
    border-radius: 3px;
    overflow: hidden;

    .login-panel-input-item{
      width: 100%;
      height: 42px;
      background-color: #fff;
      padding: 0 16px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      font-size: 0.8rem;

      &:not(:last-child){
        border-bottom: 1px solid rgb(238, 238, 238);
      }
    }
  }
}

.country-selector{
  cursor: pointer;
  background-color: #fff;
  transition: all 0.3s;

  &:hover{
    background-color: rgb(251, 113, 154) !important;
    color: #fff;
  }
}

span.input-item-title{
  display: inline-block;
  width: 60px;
}

.phone-number{
  .phone-number-input{
    width: 170px;
    padding: 0;
    outline: none;
    border: none;
    box-shadow: 0 0 0 transparent;

    input::placeholder{
      font-size: 0.8rem;
    }
  }

  span.getCaptcha{
    color: rgb(251, 113, 154);
    cursor: pointer;
  }
}

.captcha-input{
  width: 240px;
  padding: 0;
  outline: none;
  border: none;
  box-shadow: 0 0 0 transparent;

  input::placeholder{
    font-size: 0.8rem;
  }
}

.smscode-validate-login-btn{
  display: block;
  width: 100%;
  height: 50px;
  background-color: rgb(247, 193, 207);
  text-align: center;
  line-height: 50px;
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  border-radius: 6px;
  transition: all 0.3s;

  &:hover{
    background-color: rgb(251, 113, 154);
    color: #fff;
  }
}


#captcha-panel-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  #captcha-panel-wrapper{
    background-color: #fff;
  }
}


.captcha-item{
  padding: 0;
  background-color: transparent !important;
  border-top: 1px solid rgb(238, 238, 238);
}
.geetest_radar_btn, .geetest_success_btn{
  border: none !important;
}