.header-center-wrapper{

  .ant-input-affix-wrapper{
    border: none;
    background-color: rgb(244, 245, 244);
    border-radius: 30px;
    height: 30px;
  }

  .ant-input-affix-wrapper-focused{
    box-shadow: none;
  }

  .ant-input-prefix > .iconfont{
    color: rgb(128, 128, 128);
  }

  #search-bar{
    caret-color: rgb(250, 107, 147);
    background-color: rgb(244, 245, 244);
    color: rgb(121, 121, 122);
    letter-spacing: 1px;
    font-weight: 300;

    &::placeholder{
      font-weight: 300;
      font-size: 0.8rem;
    }
  }
}


.search-page-container{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.3s;
}

.search-page-hide{
  opacity: 0;
  z-index: -100;
}

.search-cancel-button{
  color: rgb(121, 121, 122);

  &:hover{
    color: rgb(250, 107, 147)
  }
}


.search-page-default-options{
  width: 100%;
  padding: 0 3%;
  display: flex;

  .search-page-hot-search-wrapper, .search-page-search-history{
    width: 45%;
  }

  .search-page-hot-search-wrapper{
    margin-right: 2%;
  }

  div.search-page-default-options-header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
  }

  div.search-page-default-content{
    width: 100%;

    button.search-page-hot-word-item{
      border: none;
      outline: none;
      margin: 8px 16px 8px 0;
      padding: 3px 12px;
      border-radius: 3px;
      cursor: pointer;
      background-color: rgb(246, 246, 247);
      color: rgb(80, 80, 81);
      transition: all 0.3s;

      &:hover{
        color: #fff;
        background-color: rgb(250, 107, 147);
      }
    }
  }
}

.search-page-suggest-words{
  width: 100%;
  position: absolute;
  top: 60px;
  left:0;
  right: 0;
  bottom: 0;
  z-index:100;
  background-color: #fff;

  .search-page-suggest-word{
    width: 100%;
    height: 50px;
    padding: 0 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    &:hover{
      background-color: rgb(246, 246, 247);
    }

    i.iconfont{
      margin-right: 6px;
      transition: all 0.3s;
    }

    span > em.suggest_high_light{
      color: rgb(250, 107, 147);
      font-style: normal;
    }
  }
}

#search-page-result-container{
  width: 100%;
  position: absolute;
  top: 60px;
  left:0;
  right: 0;
  bottom: 0;
  z-index:100;
  background-color: #fff;
}

#search-page-result-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .search-page-result-item{
    width: 230px;
    height: 230px;
    margin-top: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgb(231, 231, 231);

    .search-page-result-item-wrapper {
      width: 230px;
      height: 230px;

      .search-page-result-item-info-wrapper{
        width: 230px;
        height: 140px;
        border-radius: 6px;
        overflow: hidden;
        position: relative;

        .search-page-result-item-image{
          width: 100%;
          height: 100%;
        }
      }

      .search-page-result-item-title{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
      }

      .search-page-result-item-author{
        width: 100%;
        height: 60px;
        display: flex;

        .search-page-result-item-author-avatar{
          width: 30px;
          height: 30px;
          border-radius: 30px;
          overflow: hidden;

          img{
            width: 100%;
            height: 100%;
          }
        }
      }


    }
  }
}
