#user-page-container{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  #user-navigation-bar-wrapper{
    width: 24%;
    height: 100%;

    #user-login-container{
      width: 100%;
      height: 120px;
      border-bottom: 1px solid rgb(231, 231, 231);

      .user-login-options{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        button{
          margin: 0 10px;
        }
      }

      .user-profile-outline{
        width: 100%;
        height: 100px;

        .user-profile-basic{
          width: 100%;
          height: 100px;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .user-avatar{
            width: 60px;
            height: 60px;
            border-radius: 60px;
            overflow: hidden;
            margin: 0 10px 0 13px;

            img{
              width: 100%;
              height: 100%;
            }
          }

          .user-wallet{
            width: 150px;

            .user-wallet-stats{
              span{
                margin-right: 10px;
                font-size: 0.75rem;
                color: rgb(174, 174, 175);
              }
            }
          }
        }
      }
    }

    #user-navigation-container{
      width: 100%;
      height: 100%;
      overflow: scroll;

      div.user-navigation-item{
        width: 100%;
        height: 50px;
        padding: 0 16px;
        line-height: 50px;
        transition: all 0.3s;

        &.active{
          background-color: rgb(244, 244, 244);
        }
      }
    }
  }


  #user-content-wrapper{
    width:76%;
    height: 100%;
    position: absolute;
    left: 24%;
    top: 0;
    bottom: 0;
    right: 0;
    border-left: 1px solid rgb(231, 231, 231);
    overflow: hidden;

    .user-content-header{
      width: 76%;
      position: fixed;
      background-color: #fff;
      border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    .user-content{
      width: 100%;
      height: calc(100% - 61px);
      margin-top: 61px;
      padding: 10px;
      overflow: scroll;

      .no-padding{
        justify-content: flex-start;
      }

      &::-webkit-scrollbar{
        display: none;
      }

      .view-history-item{
        width: 236px;
        height: 250px;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        float: left;
        margin: 10px calc(2% / 3);
        cursor: pointer;
        position: relative;

        &:hover{
          border-bottom-color: rgb(251, 113, 154);

          .view-history-title{
            color: rgb(251, 113, 154);
          }
        }

        .view-history-image-wrapper{
          width: 100%;
          position: relative;

          img{
            width:100%;
            height: 146px;
          }

          span.view-duration{
            position: absolute;
            top: 106px;
            right: 13px;
            z-index: 100;
            background-color: rgba(0,0,0,0.5);
            border-radius: 3px;
            color: #fff;
            font-size: 0.7rem;
            padding: 0 6px;
          }

          span.view-badge{
            position: absolute;
            top: 13px;
            right: 13px;
            z-index: 100;
            background-color: rgb(251, 113, 154);
            border-radius: 3px;
            color: #fff;
            font-size: 0.7rem;
            padding: 2px 6px;
          }
        }

        .view-history-title{
          display: inline-block;
          width: 100%;
          height: 56px;
          margin-top: 10px;
          font-size: 0.75rem;
        }

        .view-history-at{
          font-size: 0.75rem;
          color: rgb(174, 174, 175);
        }

        label.view-history-selector{
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 101;
          cursor: pointer;
        }
      }
    }
  }
}
